main {
    max-width: 800px;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 2px solid #555555;
    padding: 15px;
    background-color: #f0f0f0;
    color: #222222;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #555555;
    text-align: center;
}